{% for f in dados %}
	<tr>
		<td>
			{{ f.nome }}
		</td>
		<td class="text-right">
			{{ f.modulo }}
		</td>
		<td style="width: 15%;">
			<a href="{{ url_for('.funcionalidade_exibir_view', id=f.id) }}" class="table-link">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="{{ url_for('.funcionalidade_editar_view', id=f.id) }}" class="table-link">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="{{ url_for('.funcionalidade_deletar_view', id=f.id) }}" class="table-link danger delete">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="3">
			<div class="alert alert-info">
				<i class="fa fa-info-circle fa-fw fa-lg"></i>
				<strong>Nenhuma funcionalidade cadastrada!</strong>
			</div>
		</td>
	</tr>				
{% endfor %}