{% extends "listar.html" %}
{% block breadcrumb %}
	<li class="active"><span>PERFIL</span></li>
{% endblock %}

{% block titulo %}
	Perfis <small>do Sistema</small>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
	$( document ).ready(function() {
    	$(".pesquisar").submit(function(e){
    		e.preventDefault();
            var formUrl = $(this).attr('action');
            var query = $(".pesquisar>input:text[name=query]").val();
	            $.ajax({
	                type : "post",
	                data : { q:query },
	                url : formUrl,
	                success : function(result){
	                    $("table>tbody").html(result);
	                },
	                beforeSend : function(){
	                    $("table>tbody").html('');
	                    $("table>tbody").hide();
	                    $(".loading").show();
	                },
	                complete : function(msg){
	                    $(".loading").hide();
	                    $("table>tbody").show();
	                }
	            })
    	})
	});
	</script>
{% endblock %}

{% block list_header %}
	<!-- <h2 class="pull-left">Products</h2> -->
	<div class="filter-block pull-right">
		<div class="form-group pull-left">
			<form action="{{ url_for('.perfil_pesquisar_view') }}" class="pesquisar" method="post">
				<input name="query" type="text" class="form-control" placeholder="Pesquisar...">
				<i class="fa fa-search search-icon"></i>
			</form>
		</div>
		<a href="{{ url_for('.perfil_adicionar_view') }}" class="btn btn-primary pull-right">
			<i class="fa fa-plus-circle fa-lg"></i> Adicionar Perfil
		</a>
	</div>
{% endblock %}


	{% block cabecalho %}
		<th><a href="#"><span>Nome</span></a></th>
		<th class="text-right"><a href="#" class="asc"><span>Ativo</span></a></th>
		<th>&nbsp;</th>
	{% endblock %}
	{% block body %}
		{% for p in dados %}
		<tr>
			<td>
				{{p.nome}}
			</td>
			<td class="text-right">
				{% if p.ativo %}
					Sim
				{% else %}
					Não
				{% endif %}				
			</td>
			<td style="width: 15%;">
				<a href="{{ url_for('.perfil_exibir_view', id=p.id) }}" class="table-link">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="{{ url_for('.perfil_editar_view', id=p.id) }}" class="table-link">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="{{ url_for('.perfil_deletar_view', id=p.id) }}" class=" table-link danger delete">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</td>
		</tr>
		{% else %}
			<tr>
				<td colspan="3">
					<div class="alert alert-info">
						<i class="fa fa-info-circle fa-fw fa-lg"></i>
						<strong>Nenhum perfil cadastrado!</strong>
					</div>
				</td>
			</tr>
		{% endfor %}
	{% endblock %}


{% block paginacao %}
	{% if max_page > 1 %}
		<li {% if page == 1 %}class="active"{% endif %}>
            <a href="{{ url_for('.perfil_listar_view', page=1) }}">« Primeira</a>
        </li>
        {% for p in pages %}
        	<li {% if page == p %}class="active"{% endif %}>
                <a href="{{ url_for('.perfil_listar_view', page=p) }}">{{ p }}</a>
            </li>
        {% endfor %}
        	<li {% if page == max_page %}class="active"{% endif %}>
            	<a href="{{ url_for('.perfil_listar_view', page=max_page) }}">Última »</a>
           </li>
    {% endif %}
{% endblock %}