{% for a in dados %}
	<tr>
		<td>
			{{ a.perfil }}
		</td>
		<td class="text-right">
			{{ a.funcionalidade }}
		</td>
		<td style="width: 5%;" class="text-right">
			{% if a.listar %} <span class="label label-success">Sim</span> {% else %} <span class="label label-danger">Não</span> {% endif %}				
		</td>
		<td style="width: 5%;" class="text-right">
			{% if a.adicionar %} <span class="label label-success">Sim</span> {% else %} <span class="label label-danger">Não</span> {% endif %}
		</td>
		<td style="width: 5%;" class="text-right">
			{% if a.editar %} <span class="label label-success">Sim</span> {% else %} <span class="label label-danger">Não</span> {% endif %}
		</td>
		<td style="width: 5%;" class="text-right">
			{% if a.apagar %} <span class="label label-success">Sim</span> {% else %} <span class="label label-danger">Não</span> {% endif %}
		</td>
		<td style="width: 15%;">
			<a href="{{ url_for('.acao_exibir_view', id=a.id) }}" class="table-link">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="{{ url_for('.acao_editar_view', id=a.id) }}" class="table-link">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="{{ url_for('.acao_deletar_view', id=a.id) }}" class="table-link danger delete">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="7">
			<div class="alert alert-info">
				<i class="fa fa-info-circle fa-fw fa-lg"></i>
				<strong>Nenhuma ação cadastrada!</strong>
			</div>
		</td>
	</tr>				
{% endfor %}	