{% extends "base.html" %}
{% block content %}	
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">						
						<li><a href="{{ url_for('inicio') }}">Home</a></li>
						{% block breadcrumb %}{% endblock %}
					</ol>
					<h1>{% block titulo %}{% endblock %}</h1>
				</div>
			</div>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div class="row">
						{% for category, message in messages %}
							{% if loop.first %}
								<div class="alert alert-{{category}}">
							{% endif %}
							{{ gettext(message|safe) }}
							{% if loop.last %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			<div class="row">
				<div class="col-lg-12">
					<div class="main-box clearfix">
						<header class="main-box-header clearfix">
							{% block list_header %}{% endblock %}
						</header>						
						<div class="main-box-body clearfix">
							<div class="table-responsive">
								<table class="table">
									
										<thead>
											<tr>
												{% block cabecalho %}
												{% endblock %}
											</tr>
										</thead>
										<tbody>
											{% block body %}
											{% endblock %}											
										</tbody>
										<tfoot>
											<tr class="loading" style="display:none;">
			                                    <td class="info text-center" colspan="3">
			                                        <i class="fa fa-spinner fa-spin fa-3x"></i> Carregando...                            
			                                    </td>
			                                </tr>									
		                               	</tfoot>
								</table>
							</div>
							<ul class="pagination pull-right">
								{% block paginacao %}
								{% endblock %}
							</ul>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>	
{% endblock %}

{% block modal %}
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Tem certeza que deseja remover esse registro?</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning">
						<i class="fa fa-warning fa-fw fa-lg"></i>
						<strong>Atenção!</strong> Para confirmar a remoção do registro escolha Sim, para cancelar escolha Não.
					</div>	
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
					<button type="button" class="btn btn-primary confirmation">Sim</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block modaloverlay %}
<div class="md-overlay"></div>
{% endblock %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/nifty-component.css') }}"/>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
<script src="{{ url_for('static', filename='js/modalEffects.js') }}"></script>  
<script type="text/javascript">
    $(document).ready(function() {
        url = null;
        $('.table>tbody').on("click", ".delete", function(event){
            event.preventDefault();
            url = $(this).attr('href');
            $("#modal").modal();
        });
        $(".confirmation").click(function(event){            
            $("#deleteModal").modal('hide');
            window.location.href = url;            
        });        
    });
</script>
{% endblock %}
